<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ page_title }}</title>
        <meta name="description" content="{{ page_description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block extrahead %}
          <!-- Places your CSS files here !  -->
        {% endblock extrahead %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header class="{{ header_classes }}">{% block header-content %}{% endblock %}</header>
        <main class="{{ main_classes }}">
          {% block main-content %}<!-- Main content -->
          {% endblock main-content %}
        </main>
        <footer class="{{ footer_classes }}">
          {% block footer-content %}{% endblock footer-content %}
        </footer>
        {% block extrabody %}
          <!-- Places your JS files here !  -->
        {% endblock extrabody %}
    </body>
</html>
