{% extends "base_layout.html" %}
{% block main-content %}
  <table>
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Prénom</th>
    <th scope="col">Poste</th>
    <th scope="col">Adresse électronique</th>
    <th scope="col">Téléphone</th>
    <th scope="col">Groupes</th>
  </tr>
  </thead>
  <tbody>
  {% for people in people_list %}
  <tr>
    <td>{{ people.last_name }}</td>
    <td>{{ people.first_name }}</td>
    <td>{{ people.job }}</td>
    <td>{{ people.email|urlize }}</td>
    <td>{{ people.phone_number }}</td>
    <td><!-- @todo: Ajouter les groupes de travail  --></td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}
